@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

p {
  color: #68707d;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
  margin-right: 1rem;
}

.hamburger {
  width: 20px;
  height: 3.5px;
  background: #68707d;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border-radius: 10px;
}
.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3.5px;
  background: #68707d;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}
.hamburger::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}
.hamburger::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}
header > a {
  text-decoration: none;
}

li > a {
  text-decoration: none;
}

nav {
  margin-right: auto;
}

.nav-links {
  list-style: none;
  display: none;
}
.nav-links > li {
  display: inline-block;
}
.nav-links > li > a {
  padding: 0 0.8rem;
  color: #68707d;
}

.profile {
  width: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profile-pic {
  width: 30px;
  height: 30px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-image > img {
  width: 100%;
}
.product-image-thumbnails {
  display: none;
}

.product-info {
  padding: 1rem 1.5rem;
}
.product-info > h1 {
  margin: 1rem auto;
}
.product-info > p {
  margin: 1.5rem auto;
  line-height: 1.5rem;
}

.sub-header {
  text-transform: uppercase;
  color: #ff7d1a;
  font-size: 12px;
  letter-spacing: 1.1px;
}

.cross-out {
  color: #b6bcc8;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}
.pricing > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
}
.pricing > div > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ff7d1a;
  font-weight: bold;
  background-color: #ffede0;
  text-align: center;
  border-radius: 5px;
  width: 3rem;
  height: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f8fd;
  text-align: center;
  border-radius: 7px;
  font-weight: 700;
  font-size: 18px;
  height: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}
.quantity > button {
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  color: #ff7d1a;
}

.cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  border: none;
  width: 100%;
  height: 3.2rem;
  border-radius: 8px;
  background-color: #ff7d1a;
  color: white;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
  -webkit-box-shadow: 0 30px 30px rgba(255, 125, 26, 0.2);
          box-shadow: 0 30px 30px rgba(255, 125, 26, 0.2);
}
.cart-btn > img {
  color: white;
  margin-right: 15px;
  width: 18px;
  height: 16px;
}

@media (min-width: 1040px) {
  header {
    padding: 0 9rem;
  }

  .nav-links {
    display: block;
  }

  .profile {
    width: 6.5rem;
  }
  .profile-pic {
    width: 40px;
    height: 40px;
  }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */