@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

//Primary colors
$orange: hsl(26, 100%, 55%); 
$pale-orange: hsl(25, 100%, 94%);

//Neutral colors
$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
//with 75% opacity for lightbox background

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 4.5rem;
    align-items: center;
    padding: 0 2rem;
    
    & > a {
        text-decoration: none;
        margin-right: auto;
    }
}

p {
    color: $dark-grayish-blue;
}


li > a {
    text-decoration: none;
}

//START OF NAVBAR
// nav {
//     margin-right: auto;
// }

//START OF HAMBURGER
.menu-btn {
    z-index: 2;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    margin-right: 1rem;

    &-hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $dark-grayish-blue;
        width: 20px;
        height: 3.5px;
        border-radius: 5px;

        &::before, &::after {
            content: '';
            position: absolute;
            background: $dark-grayish-blue;
            width: 20px;
            height: 3.5px;
            border-radius: 5px;
        }

        &::before {
            transform: translateY(-7px);
        }

        &::after {
            transform: translateY(7px);
        }
    }
}

//Animation
.menu-btn.open .menu-btn-hamburger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn-hamburger::before {
    transform: rotate(45deg) translate(35px, -35px);
    transition: all .25s ease-in-out;
}

.menu-btn.open .menu-btn-hamburger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    transition: all .25s ease-in-out;
}
//END OF HAMBURGER

.profile {
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-pic {
        width: 30px;
        height: 30px;
    }
}
//END OF NAVBAR

//START OF OVERLAY MENU @ MOBILE VIEW
.nav-links {
    list-style: none;
    display: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 5rem;

    & > li {
        display: inline-block;
        margin: 0 auto;
        padding: 1rem 0;

        & > a {
            padding: 0 .8rem;
            // color: $dark-grayish-blue;
            color: black;
            font-weight: bold;

            &:hover, &:focus {
                text-decoration: underline;
                // transition: all .2s ease-in-out;
            }
        }
    }
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.menu {
    background-color: #fff;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
//START OF OVERLAY MENU @ MOBILE VIEW

//The start of the product images, description, and purchasing power
.container {
    display: flex;
    flex-direction: column;
}

.carousel {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.prevBtn, .nextBtn{
    border: none;
    border-radius: 25%;
    padding: .75rem;
    font-weight: bold;
    background-color: #fff;
    transform: translateY(500%);
}

.prevBtn {
    margin-left: 1.25rem;
}

.nextBtn {
    margin-right: 1.25rem;
}

.product-image {

     & > img {
         width: 100%;
     }

     &-thumbnails {
         display: none;
     }
}

.product-info {
    padding: 1rem 1.5rem;

    & > h1 {
        margin: 1rem auto;
    }

    & > p {
        margin: 1.5rem auto;
        line-height: 1.5rem;
    }
}

.sub-header {
    text-transform: uppercase;
    color: $orange;
    font-size: 12px;
    letter-spacing: 1.1px;
}

.cross-out {
    color: $grayish-blue;
}

.pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 10rem;

        & > p {
            display: flex;
            color: $orange;
            font-weight: bold;
            background-color: $pale-orange;
            text-align: center;
            border-radius: 5px;
            width: 3rem;
            height: 1.5rem;
            align-items: center;
            justify-content: center;
        }
    }
}

.quantity {
    display: flex;
    background-color: $light-grayish-blue;
    text-align: center;
    border-radius: 7px;
    font-weight: 700;
    font-size: 18px;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    & > button {
        border: none;
        background-color: transparent;
        font-weight: 700;
        font-size: 18px;
        color: $orange;
    }
}

.cart-btn {
    display: flex;
    margin-top: 1rem;
    border: none;
    width: 100%;
    height: 3.2rem;
    border-radius: 8px;
    background-color: $orange;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    box-shadow: 0 30px 30px rgba($orange, 0.2);

    & > img {
        color: $white;
        margin-right: 15px;
        width: 18px;
        height: 16px;
    }
}

//The end of the product images, description, and purchasing power

@media (min-width: 1040px) {

    header {
        padding: 0 9rem;
    }

    .menu-btn {
        display: none;
    }

    .profile {
        width: 6.5rem;

        &-pic {
            width: 40px;
            height: 40px;
        }
    }

    .container {
        display: flex;
        flex-direction: row;
    }
    
    .nav-links {
        display: block;
    }

    // .product-image-thumbnails {
    //     display: block;
    // }
}
